<a href="https://colab.research.google.com/github/ravishankar-cloud/machine-learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%pwd

'/content'

In [2]:
%ls

sample_data/

In [5]:
%cd sample_data/
%pwd

/content/sample_data

'/content/sample_data'

In [7]:
import pandas as pd
df=pd.read_csv('student 21.csv')
print(df)

    id         name  class  mark  gender
0    1       Aadvik   Four  75.0    Male
1    2          NaN  Three   NaN    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
4    5    John Mike   Four  60.0  female
5    3       Arnold  Three  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    5    John Mike   Four  60.0  female
8    9      Tes Qry    NaN  78.0    male
9   10          NaN   Four   NaN  female
10  11       Ronald    Six  89.0     NaN
11   5    John Mike   Four  60.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14   1       Aadvik   Four  75.0    Male
15  16        Gimmy   Four  88.0    male
16  17        Tumyu    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  16        Gimmy   Four  88.0    male
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  16        Gimmy   Four  88.0    male
24  25     Giff Tow  Seven  88.0    male
25  26          NaN  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0     NaN
29  30    Reppy Red    NaN  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35          NaN    Six   NaN  female

In [8]:
df.head()

   id        name  class  mark  gender
0   1      Aadvik   Four  75.0    Male
1   2         NaN  Three   NaN    male
2   3      Arnold  Three  55.0    male
3   4  Krish Star   Four  60.0  female
4   5   John Mike   Four  60.0  female

In [10]:
df.tail(7)

    id         name  class  mark  gender
28  29  Tess Played  Seven  55.0     NaN
29  30    Reppy Red    NaN  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35          NaN    Six   NaN  female

In [12]:
df.describe().T

      count       mean        std   min   25%   50%   75%   max
id     35.0  16.857143  10.914488   1.0   6.0  16.0  26.5  35.0
mark   32.0  73.187500  16.547951  18.0  60.0  78.0  88.0  96.0

In [14]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
id,1,2,3,4,5,3,7,5,9,10,...,26,27,28,29,30,31,32,33,34,35
name,Aadvik,NaN,Arnold,Krish Star,John Mike,Arnold,My John Rob,John Mike,Tes Qry,NaN,...,NaN,Big Nose,Rojj Base,Tess Played,Reppy Red,Marry Toeey,Binn Rott,Kenn Rein,Gain Toe,NaN
class,Four,Three,Three,Four,Four,Three,Fifth,Four,NaN,Four,...,Seven,Three,Seven,Seven,NaN,Four,Seven,Six,Seven,Six
mark,75.0,NaN,55.0,60.0,60.0,55.0,78.0,60.0,78.0,NaN,...,79.0,81.0,86.0,55.0,79.0,88.0,90.0,96.0,69.0,NaN
gender,Male,male,male,female,female,male,male,female,male,female,...,male,female,female,NaN,female,male,female,female,male,female

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    31 non-null     object
 2   class   33 non-null     object
 3   mark    32 non-null     float64
 4   gender  33 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.5+ KB

In [18]:
df.shape

(35, 5)

In [19]:
df.size

175

In [22]:
df.columns

Index(['id', 'name', 'class', 'mark', 'gender'], dtype='object')

In [24]:
df.dtypes

id          int64
name       object
class      object
mark      float64
gender     object
dtype: object

In [26]:
df.count()

id        35
name      31
class     33
mark      32
gender    33
dtype: int64

In [27]:
pd1=pd.DataFrame({"id":[101,102,103,104],"Name":["ram",'Sam',np.nan,np.nan]})
print(pd1)
print(pd1.count())
print("")
print(pd1.count(axis='columns'))

print("")
print(pd1.count(axis='index'))

    id Name
0  101  ram
1  102  Sam
2  103  NaN
3  104  NaN
id      4
Name    2
dtype: int64

0    2
1    2
2    1
3    1
dtype: int64

id      4
Name    2
dtype: int64

In [34]:
ds2=df.drop_duplicates()

In [37]:
print(ds2.shape)

(29, 5)

In [41]:
print(ds2.duplicated().sum())

0

In [54]:
df.iloc[3,1]

'Krish Star'

In [56]:
df.iloc[1:3,0:3]

   id    name  class
1   2     NaN  Three
2   3  Arnold  Three

In [58]:
df.isnull().sum()

id        0
name      4
class     2
mark      3
gender    2
dtype: int64

In [59]:
df_z=df.fillna(0)

In [60]:
print(df_z)

    id         name  class  mark  gender
0    1       Aadvik   Four  75.0    Male
1    2            0  Three   0.0    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
4    5    John Mike   Four  60.0  female
5    3       Arnold  Three  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    5    John Mike   Four  60.0  female
8    9      Tes Qry      0  78.0    male
9   10            0   Four   0.0  female
10  11       Ronald    Six  89.0       0
11   5    John Mike   Four  60.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14   1       Aadvik   Four  75.0    Male
15  16        Gimmy   Four  88.0    male
16  17        Tumyu    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  16        Gimmy   Four  88.0    male
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  16        Gimmy   Four  88.0    male
24  25     Giff Tow  Seven  88.0    male
25  26            0  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0       0
29  30    Reppy Red      0  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35            0    Six   0.0  female

In [62]:
fill=df.fillna({"name":"Unknown","class":"Notfound","mark": 0,"gender":"Unknown"})
print(fill)

    id         name     class  mark   gender
0    1       Aadvik      Four  75.0     Male
1    2      Unknown     Three   0.0     male
2    3       Arnold     Three  55.0     male
3    4   Krish Star      Four  60.0   female
4    5    John Mike      Four  60.0   female
5    3       Arnold     Three  55.0     male
6    7  My John Rob     Fifth  78.0     male
7    5    John Mike      Four  60.0   female
8    9      Tes Qry  Notfound  78.0     male
9   10      Unknown      Four   0.0   female
10  11       Ronald       Six  89.0  Unknown
11   5    John Mike      Four  60.0   female
12  13          Kty     Seven  88.0   female
13  14         Bigy     Seven  88.0   female
14   1       Aadvik      Four  75.0     Male
15  16        Gimmy      Four  88.0     male
16  17        Tumyu       Six  54.0     male
17  18        Honny      Five  75.0     male
18  19        Tinny      Nine  18.0     male
19  20       Jackly      Nine  65.0   female
20  16        Gimmy      Four  88.0     male
21  22       Reggid     Seven  55.0   female
22  23        Herod     Eight  79.0     male
23  16        Gimmy      Four  88.0     male
24  25     Giff Tow     Seven  88.0     male
25  26      Unknown     Seven  79.0     male
26  27     Big Nose     Three  81.0   female
27  28    Rojj Base     Seven  86.0   female
28  29  Tess Played     Seven  55.0  Unknown
29  30    Reppy Red  Notfound  79.0   female
30  31  Marry Toeey      Four  88.0     male
31  32    Binn Rott     Seven  90.0   female
32  33    Kenn Rein       Six  96.0   female
33  34     Gain Toe     Seven  69.0     male
34  35      Unknown       Six   0.0   female

In [67]:
df2=df.set_index('id')
print(df2)

           name  class  mark  gender
id
1        Aadvik   Four  75.0    Male
2           NaN  Three   NaN    male
3        Arnold  Three  55.0    male
4    Krish Star   Four  60.0  female
5     John Mike   Four  60.0  female
3        Arnold  Three  55.0    male
7   My John Rob  Fifth  78.0    male
5     John Mike   Four  60.0  female
9       Tes Qry    NaN  78.0    male
10          NaN   Four   NaN  female
11       Ronald    Six  89.0     NaN
5     John Mike   Four  60.0  female
13          Kty  Seven  88.0  female
14         Bigy  Seven  88.0  female
1        Aadvik   Four  75.0    Male
16        Gimmy   Four  88.0    male
17        Tumyu    Six  54.0    male
18        Honny   Five  75.0    male
19        Tinny   Nine  18.0    male
20       Jackly   Nine  65.0  female
16        Gimmy   Four  88.0    male
22       Reggid  Seven  55.0  female
23        Herod  Eight  79.0    male
16        Gimmy   Four  88.0    male
25     Giff Tow  Seven  88.0    male
26          NaN  Seven  79.0    male
27     Big Nose  Three  81.0  female
28    Rojj Base  Seven  86.0  female
29  Tess Played  Seven  55.0     NaN
30    Reppy Red    NaN  79.0  female
31  Marry Toeey   Four  88.0    male
32    Binn Rott  Seven  90.0  female
33    Kenn Rein    Six  96.0  female
34     Gain Toe  Seven  69.0    male
35          NaN    Six   NaN  female

In [70]:
ds1=df.to_json(r"\data3.json")

In [73]:
ds2=pd.read_json(r"\data3.json")
print(ds2)

    id         name  class  mark  gender
0    1       Aadvik   Four  75.0    Male
1    2         None  Three   NaN    male
2    3       Arnold  Three  55.0    male
3    4   Krish Star   Four  60.0  female
4    5    John Mike   Four  60.0  female
5    3       Arnold  Three  55.0    male
6    7  My John Rob  Fifth  78.0    male
7    5    John Mike   Four  60.0  female
8    9      Tes Qry   None  78.0    male
9   10         None   Four   NaN  female
10  11       Ronald    Six  89.0    None
11   5    John Mike   Four  60.0  female
12  13          Kty  Seven  88.0  female
13  14         Bigy  Seven  88.0  female
14   1       Aadvik   Four  75.0    Male
15  16        Gimmy   Four  88.0    male
16  17        Tumyu    Six  54.0    male
17  18        Honny   Five  75.0    male
18  19        Tinny   Nine  18.0    male
19  20       Jackly   Nine  65.0  female
20  16        Gimmy   Four  88.0    male
21  22       Reggid  Seven  55.0  female
22  23        Herod  Eight  79.0    male
23  16        Gimmy   Four  88.0    male
24  25     Giff Tow  Seven  88.0    male
25  26         None  Seven  79.0    male
26  27     Big Nose  Three  81.0  female
27  28    Rojj Base  Seven  86.0  female
28  29  Tess Played  Seven  55.0    None
29  30    Reppy Red   None  79.0  female
30  31  Marry Toeey   Four  88.0    male
31  32    Binn Rott  Seven  90.0  female
32  33    Kenn Rein    Six  96.0  female
33  34     Gain Toe  Seven  69.0    male
34  35         None    Six   NaN  female

In [77]:
import sqlite3
con=sqlite3.connect('test.db')
print("Opened database successfully")
cur=con.cursor()
ds2.to_sql('staff',con)
con.commit()
cur.execute('select * from staff')
cur.fetchall()

Opened database successfully

[(0, 1, 'Aadvik', 'Four', 75.0, 'Male'),
 (1, 2, None, 'Three', None, 'male'),
 (2, 3, 'Arnold', 'Three', 55.0, 'male'),
 (3, 4, 'Krish Star', 'Four', 60.0, 'female'),
 (4, 5, 'John Mike', 'Four', 60.0, 'female'),
 (5, 3, 'Arnold', 'Three', 55.0, 'male'),
 (6, 7, 'My John Rob', 'Fifth', 78.0, 'male'),
 (7, 5, 'John Mike', 'Four', 60.0, 'female'),
 (8, 9, 'Tes Qry', None, 78.0, 'male'),
 (9, 10, None, 'Four', None, 'female'),
 (10, 11, 'Ronald', 'Six', 89.0, None),
 (11, 5, 'John Mike', 'Four', 60.0, 'female'),
 (12, 13, 'Kty', 'Seven', 88.0, 'female'),
 (13, 14, 'Bigy', 'Seven', 88.0, 'female'),
 (14, 1, 'Aadvik', 'Four', 75.0, 'Male'),
 (15, 16, 'Gimmy', 'Four', 88.0, 'male'),
 (16, 17, 'Tumyu', 'Six', 54.0, 'male'),
 (17, 18, 'Honny', 'Five', 75.0, 'male'),
 (18, 19, 'Tinny', 'Nine', 18.0, 'male'),
 (19, 20, 'Jackly', 'Nine', 65.0, 'female'),
 (20, 16, 'Gimmy', 'Four', 88.0, 'male'),
 (21, 22, 'Reggid', 'Seven', 55.0, 'female'),
 (22, 23, 'Herod', 'Eight', 79.0, 'male'),
 (23, 16, 'Gimmy', 'Four', 88.0, 'male'),
 (24, 25, 'Giff Tow', 'Seven', 88.0, 'male'),
 (25, 26, None, 'Seven', 79.0, 'male'),
 (26, 27, 'Big Nose', 'Three', 81.0, 'female'),
 (27, 28, 'Rojj Base', 'Seven', 86.0, 'female'),
 (28, 29, 'Tess Played', 'Seven', 55.0, None),
 (29, 30, 'Reppy Red', None, 79.0, 'female'),
 (30, 31, 'Marry Toeey', 'Four', 88.0, 'male'),
 (31, 32, 'Binn Rott', 'Seven', 90.0, 'female'),
 (32, 33, 'Kenn Rein', 'Six', 96.0, 'female'),
 (33, 34, 'Gain Toe', 'Seven', 69.0, 'male'),
 (34, 35, None, 'Six', None, 'female')]

In [78]:
d1=pd.read_sql('select * from staff',con=con)
d1

    index  id         name  class  mark  gender
0       0   1       Aadvik   Four  75.0    Male
1       1   2         None  Three   NaN    male
2       2   3       Arnold  Three  55.0    male
3       3   4   Krish Star   Four  60.0  female
4       4   5    John Mike   Four  60.0  female
5       5   3       Arnold  Three  55.0    male
6       6   7  My John Rob  Fifth  78.0    male
7       7   5    John Mike   Four  60.0  female
8       8   9      Tes Qry   None  78.0    male
9       9  10         None   Four   NaN  female
10     10  11       Ronald    Six  89.0    None
11     11   5    John Mike   Four  60.0  female
12     12  13          Kty  Seven  88.0  female
13     13  14         Bigy  Seven  88.0  female
14     14   1       Aadvik   Four  75.0    Male
15     15  16        Gimmy   Four  88.0    male
16     16  17        Tumyu    Six  54.0    male
17     17  18        Honny   Five  75.0    male
18     18  19        Tinny   Nine  18.0    male
19     19  20       Jackly   Nine  65.0  female
20     20  16        Gimmy   Four  88.0    male
21     21  22       Reggid  Seven  55.0  female
22     22  23        Herod  Eight  79.0    male
23     23  16        Gimmy   Four  88.0    male
24     24  25     Giff Tow  Seven  88.0    male
25     25  26         None  Seven  79.0    male
26     26  27     Big Nose  Three  81.0  female
27     27  28    Rojj Base  Seven  86.0  female
28     28  29  Tess Played  Seven  55.0    None
29     29  30    Reppy Red   None  79.0  female
30     30  31  Marry Toeey   Four  88.0    male
31     31  32    Binn Rott  Seven  90.0  female
32     32  33    Kenn Rein    Six  96.0  female
33     33  34     Gain Toe  Seven  69.0    male
34     34  35         None    Six   NaN  female